/* CSS HEX */
:root{
    --wenge: #54494bff;
    --mint-cream: #f1f7edff;
    --cambridge-blue: #91c7b1ff;
    --rose-red: #b33951ff;
    --flax: #e3d081ff;
    }
    
    header {
        position: fixed;
        top: 0;
        left: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: mintcream;
    }
    
    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: var(--cambridge-blue);
    }
    
    body {
        background-color: mintcream; /* Replace #f0f0f0 with your desired color */
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }
    
    /* Styling for the logo and about link */
    
    .logo {
        text-decoration: none;  /* Removes underline */
        color: var(--cambridge-blue);           /* Text color */
        font-size: 36px;        /* Same size for both */
        font-weight: bold;
        
    }
    
    .arrow-icon {
        position: fixed;
        bottom: 20px;   /* Position the arrow at the bottom */
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        z-index: 1000;  /* Ensure it's on top of other content */
    }
    
    .arrow {
        width: 30px;
        height: 30px;
        border-left: 3px solid black;
        border-bottom: 3px solid black;
        transform: rotate(45deg);
        transition: transform 0.5s cubic-bezier(.25, 1.7, .35, .8); /* Smooth animation */
        rotate: -90deg;
    }
    
    .arrow-icon:hover .arrow {
        transform: rotate(45deg) translateY(5px);
    }
    
    
    .con_photos {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center; 
        align-items: center;
        gap: 30px;
        width: max-content;
        height: 70vh;
        overflow-x: auto;
        padding: 20px;
        margin-top: 40px;
        position: relative;
        white-space: nowrap;
    }
    
    .photo_div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 80%;
        scroll-snap-align: center; 
    }
    
    .photo_con {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        z-index: 1;
        transition: transform 0.3s ease;
        scroll-snap-align: center;
        flex-shrink: 0; /* Prevent images from shrinking and overlapping */
    }
    
    
    .photo_con:hover {
        transform: scale(1.1);
        opacity: 0.5;
        transition:  0.25s;
    }
    
    .con_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
    }
    
    
    .p_photo {
        position: absolute;
        color: mintcream;
    }

    .footer-text {
        color: mintcream;
    }

